* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .sideheader{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: skyblue;
    /* border-left: 15px solid green; */
    transition: 0.5s;
    overflow: hidden;
    padding-top: 30px;
  }

  .cleanderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/pexels-drift-shutterbug-2085998.jpg); 
    background-position: center;
    background-size: cover;
    
  }

  .calendar {
    width: 600px;
    padding-top: 50px;
    padding: 2%;
    margin-left: 50px;
    /* background-color: white; */
    color: white;
  }

  .emotion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .happy{
    display: flex;
    justify-content: space-around;
  }

  .happy-color{
    background-color: yellow;
    width: 20px;
    height: 20px;
  }

  .soso{
    display: flex;
    justify-content: space-around;
  }

  .soso-color{
    background-color: snow;
    width: 20px;
    height: 20px;
  }
  .romance{
    display: flex;
    justify-content: space-around;
  }
  .romance-color{
    background-color: pink;
    width: 20px;
    height: 20px;
  }
  .angly{
    display: flex;
    justify-content: space-around;
  }
  .angly-color{
    background-color: red;
    width: 20px;
    height: 20px;
  }
  .sad{
    display: flex;
    justify-content: space-around;
  }
  .sad-color{
    background-color: blue;
    width: 20px;
    height: 20px;
  }
  .issitation{
    display: flex;
    justify-content: space-around;
  }
  .issitation-color{
    background-color: orangered;
    width: 20px;
    height: 20px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .year-month {
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .nav {
    display: flex;
    /* border: 1px solid #333333; */
    border-radius: 5px;
  }
  
  .nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 30px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  
  /* .go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
  } */
  
  .days {
    display: flex;
    margin: 25px 0 10px;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
  }
  
  .date {
    width: calc(100% / 7);
    padding: 10px;
    text-align: right;
    /* border-bottom: 1px solid #333333;
    border-left: 1px solid #333333; */
    border: 1px solid white;
  }
  
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
    color: red;
  }
  
  .day:nth-child(7n),
  .date:nth-child(7n) {
    color: blue;
  }
  
  .other {
    opacity: 0.3;
  }
  
  /* .today {
    position: relative;
    color: #FFFFFF;
  } */
  
  /* .today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
  } */
  .list{
    padding-left: 10%;
  }
  .list div{
    padding: 10%;
  }
  .list div a{
    text-decoration: none;
    color: black;
  }
  .picture:hover{
    background-color: white;
  }
  .statistics:hover{
    background-color: white;
  }
  .question:hover{
    background-color: white;
  }
  .logout:hover{
    background-color: white;
  }